<div class="container">
  <div class="info-sentence center">
    Football talkersへようこそ</br>
    このサイトではサッカー選手について語ることができるサイトです。</br>
    ユーザー登録をして、あなたの選手イメージをシェアし、</br>
    より一層サッカーの知識を増やしてみてはいかがでしょうか？
  </div>
</div>


